
<div class="header text-center boonhome">ລະບົບແຈ້ງສ້ອມແປງຄອມພິວເຕີ</div>
<div class="login-logo text-center">
  <img src="assets/images/logo_index.png" style="width: 200px; height:200px;">
</div>
<form class="login-form text-center" [formGroup]="loginForm">
  <mat-form-field class="txt-field boonhome">

    <input type="text" matInput placeholder="ຊື່ຜູ້ໃຊ້" required formControlName="txtuser">
  </mat-form-field>
  <mat-form-field class="txt-field boonhome">
    <input matInput placeholder="ລະຫັດຜ່ານ" required 
    [type]="hide ? 'password':'text'"
    formControlName="txtpassword">
    <mat-icon class="txt-password-ico"matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <div>
    <button class="boonhome" mat-flat-button color="primary" (click)="login_Clicked()">ເຂົ້າສູ່ລະບົບ</button>
    <button class="boonhome" mat-flat-button color="warn" (click)="cancel_clicked()" style="margin-left: 5px;">ຍົກເລີກ</button>
  </div>
</form>

<div class="loading" *ngIf="loading">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>