<div class="main">
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <!-- <mat-tab label="First">Content 1</mat-tab> -->
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="tab-item">
                    <div class="home-ico">
                        <img src="assets/svg/home.svg" width="30">
                    </div>
                    <div class="label">Home</div>
                </div>

            </ng-template>
            <div class="content">
                <div class="header">
                    <div class="hearder-ico">
                        <img src="assets/svg/lsw_logo.svg" width="200">
                    </div>
                    <div class="header-text boonhome">ບັນດາລະບົບຕ່າງໆຂອງບໍລິສັດ ລັດວິສາຫະກິດ ລາວເດີນອາກາດ</div>
                </div>
                <div class="body">
                    <div class="app-item" (click)="requestFix_clicked()">
                        <div class="img">
                            <img src="assets/svg/fix.svg" width="100">
                        </div>
                        <div class="caption boonhome">ແຈ້ງສ້ອມແປງອຸປະກອນໄອທີ</div>
                    </div>
                    <div class="app-item">
                        <a href="http://192.168.1.5/exam" target="_blank" style="text-decoration: none; color: black;">
                            <div class="img">
                                <img src="assets/svg/quiz.svg" width="100">
                            </div>
                            <div class="caption boonhome">ການສອບເສັງ</div>
                        </a>

                    </div>
                    <div class="app-item">
                        <a href="https://lswcargo.ga:8012/dc" target="_blank"
                            style="text-decoration: none; color: black;">
                            <div class="img">
                                <img src="assets/svg/document.svg" width="100">
                            </div>
                            <div class="caption boonhome">ລະບົບຈັດການເອກະສານ</div>
                        </a>
                    </div>
                    <div class="app-item">
                        <a href="https://lswcargo.ga:8012/sms" target="_blank"
                            style="text-decoration: none; color: black;">
                            <div class="img">
                                <img src="assets/svg/car_app.svg" width="100">
                            </div>
                            <div class="caption boonhome">ລະບົບຕິດຕາມ Car</div>
                        </a>
                    </div>
                    <div class="app-item" (click)="occurrenceReport_clicked()">
                            <div class="img">
                                <img src="assets/svg/comment.svg" width="100">
                            </div>
                            <div class="caption boonhome">Occurrence Report</div>
                    </div>
                    <div class="app-item">
                        <a href="https://global.gotomeeting.com/" target="_blank"
                            style="text-decoration: none; color: black;">
                            <div class="img">
                                <img src="assets/svg/goto_meeting.svg" width="100">
                            </div>
                            <div class="caption boonhome">GoToMeeting</div>
                        </a>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>