@font-face{
    font-family:'boonhome-400';
    src: url("/assets/fonts/boonhome/boonhome-400.eot");
    src: 
        url("/assets/fonts/boonhome/boonhome-400.otf") format("opentype"),
        url("/assets/fonts/boonhome/boonhome-400.woff") format("woff"),
        url("/assets/fonts/boonhome/boonhome-400.svg") format("svg"),
        url("/assets/fonts/boonhome/boonhome-400.ttf") format('truetype');
  }
  
  .boonhome{
    font-family: 'boonhome-400' !important;
  }
.main{
    padding-top:30px;
}
.content{
    max-width: 1060px;
    width: 100%;
    margin:auto;
    height: 100%;
}
.header{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
}
.app-item{
    cursor: pointer;
    float: left;
    width: 150px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.body{
    padding-top: 10px;
}